events#edit page
<h1>New Event</h1>
<p>
  <%= link_to 'Back', location_event_path(@location) %>
</p>

<%= form_for [@location, @event] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.text_area :date %>
  </p>

  <p>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
